---
# CSS manifest: do not remove these front-matter dashes
---

$font-family-base: 'Open Sans', sans-serif;
$font-size-base: 14px;
$font-weight-base: 300;
$headings-weight: 400;

$base-red: #ff5c61;
$base-red-soft: lighten($base-red, 0.25);
$base-red-light: lighten($base-red, 0.35);
$base-red-dark: darken($base-red, 0.25);

$link-color:               $base-red;
$link-hover-color:         $base-red-soft;
$link-active-color:        $base-red;
$link-visited-color:       $base-red-dark;
$link-light-color:         $base-red-soft;
$link-light-hover-color:   $base-red-light;
$link-light-active-color:  $base-red-soft;
$link-light-visited-color: $base-red-soft;

// Import partials from `sass_dir` (defaults to `_sass`)
@import "../bower_components/humblekit/app/assets/stylesheets/humble_kit";
@import "fonts";
@import "base";
@import "layout";
@import "skins";
@import "syntax-highlighting";