<!DOCTYPE html> 
<html lang="en"> 
<head>
	<meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="author" content="{{site.author}}">
  <meta name="description" content="{{site.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/i.css">
  <script type="text/javascript">var __tcaExcludeHostedCss=true;</script>
  <script type="text/javascript" src="http://typecast.com/project_css/jon-dean/734548bf56106.js"></script>
</head>
