          <li class="tag-group" data-tag-slug="{{ tag | first | slugize }}">
            <a class="tag-link" href="#{{ tag | first | slugize }}" title="{{ tag  | first }}" style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 14 }}px;">
              {{ tag | first }}
            </a>
            <ul class="large-list">
              {% assign posts_in_tag = tag[1] %}
              {% for post in posts_in_tag %}
                {% include _post_link.html %}
              {% endfor %}
            </ul>
          </li>
