<footer class="text-c mt4">
  <nav class="social">
    <ul class="list-unstyled list-inline h4">
      <li class="facebook">
        <a class="hover-link hover-link-muted" href="https://facebook.com/jonathanedean" title="jonathanedean on Facebook"><span class="icon ss-icon ss-social ss-social-circle ss-facebook"></span><span class="text">Facebook</span></a>
      </li>
      <li class="twitter">
        <a class="hover-link hover-link-muted" href="https://twitter.com/jonathanedean" title="jonathanedean on Twitter"><span class="icon ss-icon ss-social ss-social-circle ss-twitter"></span><span class="text">Twitter</span></a>
      </li>
      <li class="instagram">
        <a class="hover-link hover-link-muted" href="https://instagram.com/jonathandean" title="jonathandean on Instagram"><span class="icon ss-icon ss-social ss-social-circle ss-instagram"></span><span class="text">Instagram</span></a>
      </li>
      <li class="github">
        <a class="hover-link hover-link-muted" href="https://github.com/jonathandean" title="jonathandean on GitHub"><span class="icon ss-icon ss-social ss-social-circle ss-octocat"></span><span class="text">GitHub</span></a>
      </li>
      <li class="linkedin">
        <a class="hover-link hover-link-muted" href="http://www.linkedin.com/in/jonathanedean" title="jonathanedean on LinkedIn"><span class="icon ss-icon ss-social ss-social-circle ss-linkedin"></span><span class="text">LinkedIn</span></a>
      </li>
    </ul>
  </nav>
  <p class="small">
    © 2015 Jonathan E. Dean
  </p>
  <p class="small">
    built with <a href="http://www.humblekit.com/">humble kit</a>
  </p>
</footer>