img {
  max-width: 100%;
}
.text-c img {
  display: inline-block;
}

.hover-link, a.hover-link {
  & {
    color: $text-base-color;
  }
  &:hover {
    color: $link-hover-color;
  }
}
.hover-link-muted, a.hover-link-muted {
  & {
    color: $text-light-color;
  }
  &:hover {
    color: $link-hover-color;
  }
}
nav.social {
  ul {
    .text {
      display: none;
    }
  }
}
.intro {
  @extend %text-c;
  @extend .h5;
  @extend %thin;
  font-style: italic;
}
// Do post headings differently so we can get the styles we want without needing classes in the Markdown files
.post {
  h1, .h1 {
    @extend %f3;
  }
  h2, .h2 {
    @extend %f4;
    @extend %mt2;
  }
  h3, .h3 {
    @extend %f5;
  }
  h4, .h4 {
    @extend %f6;
  }
  h5, .h5 {
    @extend %f5;
  }
  h6, .h6 {
    @extend %f6;
  }
//  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5, {
    font-weight: 600;
  }
}
blockquote {
  font-style: italic;
  @extend %ml2;
  @extend %m2;
  &:before {
    content: open-quote;
    @extend %f3;
    vertical-align: -0.3em;
    line-height: 0.1em;
  }
  &:after {
    content: close-quote;
    @extend %f3;
    vertical-align: -0.3em;
    line-height: 0.1em;
  }
  p {
    display: inline;
  }
}