.hover-link, a.hover-link {
  & {
    color: $text-base-color;
  }
  &:hover {
    color: $link-hover-color;
  }
}
.hover-link-muted, a.hover-link-muted {
  & {
    color: $text-light-color;
  }
  &:hover {
    color: $link-hover-color;
  }
}
nav.social {
  ul {
    .text {
      display: none;
    }
  }
}