// The internet is run on paragraphs and links. Let people see them please.

body {
  font-family: "Apollo W02", Cambria, Georgia, serif;
  font-size: $copy;
}

h1,h2,h3,h4,h5,h6 {
  font-weight:100;
}

h1,.h2,.h3,.h4,.h5,.h6 {
  margin-bottom:.35em;
}

h1,.h1 {
  font-size:$type-2;
}

h2,.h2 {
  font-size:$type-3;
}

h3,.h3 {
  font-size:$type-4;
  font-weight:900;
}

h4,.h4 {
  font-size:$type-5;
  font-weight:900;
}

h5,.h5 {
  font-size:$type-5;
  font-style:italic;
}

h6,.h6 {
  font-size:$type-5;
}

p, li {
  font-size:$copy;
  line-height:$copy-line-height;
  + p { 
    margin-top:1em;
  }
}

.intro {
  font-size: $copy*1.2;
}

.post {
  .header h1 {
    @include breakpoint(one-hand) {
        font-size:$type-3;
    }
  }
  .header{
    border-bottom: 1px solid $grey-light;
  }
  .intro{
    padding-bottom: 1em;
  }
  .footer {
    color:$grey-light;
  }
  .time{
    color: $grey-medium;
  }
}

.post-link .date{
  font-size: $type-5;
}

.h1-r {
  @include breakpoint(one-hand) {
    font-size:$type-3;
  }
}

.ct {
  text-align:center;
  @include breakpoint(one-hand) {
    text-align:left;
  }
}

blockquote {
  font-family: "Apollo MT W02 Italic";
  padding:1em 0 1.75em 0;
  p {
    font-size:$type-3;
  }
  footer,footer a {
    font-size:$type-5;
    line-height:2;
    text-decoration:none;
    color:#999;
  }
}

em {
  font-style:italic;
}

.author {
  text-transform:uppercase;
}

date {
  color:$grey-medium;
}
