@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,600');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: $copy;
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  margin-bottom:.35em;
  font-weight:100;
}

h4,h5,h6,
.h4,.h5,.h6 {
  margin-top: 2em;
}

h1,.h1 {
  font-size:$type-2;
  margin-top: 1em;
}

h2,.h2 {
  font-size:$type-3;
  margin-top: 1em;
}

h3,.h3 {
  font-size:$type-4;
  font-weight:900;
  margin-top: 1.5em;
}

h4,.h4 {
  font-size:$type-5;
  font-weight:900;
}

h5,.h5 {
  font-size:$type-5;
  font-style:italic;
  font-weight:900;
}

h6,.h6 {
  font-size:$type-5;
  font-style:italic;
}

p, li {
  font-size:$copy;
  line-height:$copy-line-height;
  + p { 
    margin-top:1em;
  }
}

.green{
  color: teal;
}
.blue{
  color: #445588;
}
.red{
  color: #990000;
}

.identity {
  font-size: $type-3;
  text-transform: lowercase;
  font-weight: 300;
  a{
    text-decoration: none;
  }
}

.intro {
  font-size: $copy*1.2;
}

.post {
  .header h1 {
    @include breakpoint(one-hand) {
        font-size:$type-4;
    }
  }
  .header{
    border-bottom: 1px solid $grey-light;
  }
  .intro{
    padding-bottom: 1em;
    text-align: center;
  }
  .footer {
    color:$grey-light;
  }
  .time{
    color: $grey-medium;
  }
}

.post-link .date{
  font-size: $type-6;
}

.h1-r {
  @include breakpoint(one-hand) {
    font-size:$type-4;
  }
}

.ct {
  text-align:center;
}

blockquote {
  font-style: italic;
  padding:1em 0 1.75em 0;
  p {
    font-size:$type-5;
  }
  footer,footer a {
    font-size:$type-6;
    line-height:2;
    text-decoration:none;
    color:#999;
  }
}

em, .em, {
  font-style:italic;
}
strong, .strong{
  font-weight:600;
}

.author {
  text-transform:uppercase;
}

date {
  color:$grey-medium;
}

.copyright{
  clear: both;
  p{
    font-size: $type-6;
  }
}
